.componentesDataGrid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40px;
}

.tableContainer {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}