.green-text-button {
    display: flex;
    align-items: center;
    gap: 15px;

    cursor: pointer;
    border: none;
    
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    color: #000000;
}